{% load static %}
{% load light_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'lights/style.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'lights/js/iris/iris.min.js' %}"></script>

<script src="{% static 'lights/js/index.js' %}"></script>

<div id="loading-overlay" class="loading-overlay"></div>

<div id="color_div" class="button_divider">
    <button id="color_picker_btn" class="remote_button" data-message="014,131,205" data-ajax-url="{% url 'lights:rgb_message' %}">Custom Color</button>
    <div id="palette"></div>
</div>

{% if divider_dict %}
    {% for divider, button_list in divider_dict|item_macro %}
        <div class="text_container">
            {{ divider }}
        </div>
        <div class="button_divider">
            {% for button in button_list %}
                <button class="remote_button" data-message="{{ button.id }}" data-btn_string="{{ button.message_string }}" onclick="button_pressed(this)">{{ button.button_name }}</button>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>divider_dict is empty!</p>
{% endif %}

<div id="button-pressed-url" data-ajax-url="{% url 'lights:button_pressed' %}" disabled="true"></div>
<div class="is_mobile_device"></div>

{% csrf_token %}