{%  load static %}
{% load light_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'lights/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% if divider_dict %}
    {% for divider, button_list in divider_dict|item_macro %}
        <div class="text_container">
        {{ divider }}
        </div>
        <div class="button_divider">
        {% for button in button_list %}
            <button class="remote_button" data-message="{{ button.id }}" onclick="button_pressed(this)">{{ button.button_name }}</button>
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>divider_dict is empty!</p>
{% endif %}
<div id="demo"></div>
<div id="ajax_url" ajax-url="{% url 'lights:button_pressed' %}" disabled="true"></div>

{% csrf_token %}
<script>
    function button_pressed(button) {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("demo").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", document.getElementById('ajax_url').getAttribute('ajax-url'), true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        xhttp.send("button_id=" + button.getAttribute('data-message'));
    }
</script>