html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 0;

    background-position: 0 0, 40px 40px;

    -webkit-background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    background-size: 80px 80px;
}

input {
    font-size: xx-large;

    width: 50%;
    height: 33%;
}

.button_divider {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

    border-top: thin solid #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

.divider_text {

}

.remote_button {

    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    -ms-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    font-weight: 900;

    cursor: pointer;

    display: inline-block;
    max-width: 100%;
    padding: 25px 80px;
    margin: 15px 0;
    outline: none;
    border-radius: 20px;
    border: 5px outset #0e83cd;

    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;

    /*border: 3px solid #fff;*/
    color: #0e83cd;
    background: #fff;
    box-shadow: 2px 2px 3px #2b2b2b;
}

.text_container {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: #FFF;

    display: block;
    margin-bottom: 0.25em;
}

.remote_button:active {
    border-style: inset;
}

.loading-overlay {
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background: #333 url('media/loading_512.gif') no-repeat center;
    -webkit-background-size: 64px;
    background-size: 64px;
}

.loading-anim {
    z-index: 100;
    opacity: 0.8;
}

.sign-in-overlay {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;

    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    height: auto;
    width: 100%;
    overflow: hidden;

    background: #fff;
    box-shadow: 2px 2px 100px #2b2b2b;
}

.sign-in-anim {
    z-index: 98;
    opacity: 1;
}

#sign-in-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    width: 100%;
}

.submit_btn {
    width: 15%;
    height: 33%;

    color: white;
    background: white;
    box-shadow: none;
}

#color_div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

#access-code-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    width: 100%;
}

#access_code_btn {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 1%;
    padding-top: 1%;
    z-index: 99;

    filter: drop-shadow(2px 2px 3px #2b2b2b);
    -webkit-filter: drop-shadow(2px 2px 3px #2b2b2b);
}

#access_code_life {
    font-size: x-large;
    display: inline-block;
    width: 2em;
    height: auto;
}

#access_code {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;

    color: #02d570;
}

#code-password {
    margin-top: 15px;
    width: 70%;
    max-width: 8em;
}

.flavor_text {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

#token-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #fff;
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#token_input {
    width: 4em;
    height: unset;
    text-align: center;

    color: #02d570;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px inset black;
}

#token_input:focus {
    outline: 0;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .is_mobile_device { /* Can determine if on mobile in JQuery by checking this class' display tag*/
        display: block;
    }

    #life-submit {
        margin-right: 40%;
        margin-left: 40%;
    }

    #access_code {
        margin: 15px 30%;
    }

    #access_code_btn {
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #life-submit {
        margin-right: 0;
        margin-left: 0;
    }

    #access_code {
        margin: 15px 0;
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .is_mobile_device {
        display: none;
    }

    #code-password {
        margin-top: 0;
    }

    #access_code_btn {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */

}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */

}

.off-bg {
    background-image: url(media/bg/off.svg), url(media/bg/off.svg);
    background-color: #000;
}

.sleep-bg {
    background-image: url(media/bg/sleep.svg), url(media/bg/sleep.svg);
    background-color: #160000;
}

.movie-bg {
    background-image: url(media/bg/movie.svg), url(media/bg/movie.svg);
    background-color: #32000c;
}

.thunder-bg {
    background-image: url(media/bg/thunder.svg), url(media/bg/thunder.svg);
    background-color: #547fc4;
}

.rain-bg {
    background-image: url(media/bg/rain.svg), url(media/bg/rain.svg);
    background-color: #0e83cd;
}

.snow-bg {
    background-image: url(media/bg/snow.svg), url(media/bg/snow.svg);
    background-color: #c8c8c8;
}

.sunrise-bg {
    background-image: url(media/bg/sunrise.svg), url(media/bg/sunrise.svg);
    background-color: #ff0a00;
}

.midday-bg {
    background-image: url(media/bg/midday.svg), url(media/bg/midday.svg);
    background-color: #ff6400;
}

.sunset-bg {
    background-image: url(media/bg/sunset.svg), url(media/bg/sundown.svg);
    background-color: #963c28;
}

.sundown-bg {
    background-image: url(media/bg/sundown.svg), url(media/bg/sunset.svg);
    background-color: #060523;
}

.calendar-bg {
    background-image: url(media/bg/calendar.svg), url(media/bg/calendar.svg);
    background-color: #00c18e;
}

.rangers-bg {
    background-image: url(media/bg/rangers.svg), url(media/bg/rangers.svg);
    background-color: #d31245;
}

.steelers-bg {
    background-image: url(media/bg/steelers.svg), url(media/bg/steelers.svg);
    background-color: #ffb612;
}

.stocks-bg {
    background-image: url(media/bg/stocks.svg), url(media/bg/stocks.svg);
    background-color: #037720;
}