container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "entertainweb.settings"
    PYTHONPATH: "$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: entertainweb/wsgi.py
    StaticFiles: "/var/www/michaelmanis.com/static/"

packages:
  yum:
    postgresql95-devel: []
  rpm:
    postgresql: https://download.postgresql.org/pub/repos/yum/9.5/redhat/rhel-6-x86_64/pgdg-ami201503-95-9.5-3.noarch.rpm 
