container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_makestaticdir:
    command: "mkdir /var/www/michaelmanis/static"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateID: arn:aws:acm:us-east-2:643036719403:certificate/27f345cf-fb4e-4077-9942-0935d98600e5
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:listener:80:
    ListenerEnabled: false
  aws:elb:listener:8493:
    ListenerProtocl: TCP
    InstancePort: 8493
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "entertainweb.settings"
    PYTHONPATH: "$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: entertainweb/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "/var/www/michaelmanis.com/static/"

packages:
  yum:
    postgresql95-devel: []
  rpm:
    postgresql: https://download.postgresql.org/pub/repos/yum/9.5/redhat/rhel-6-x86_64/pgdg-ami201503-95-9.5-3.noarch.rpm 
